body {
    background-color: #ca3535;
  }s
  form {
    margin: auto;
    background-color: #d53535;
    width: 90%;
  }
  h1 {
    text-align: center;
    font-family: "Gill Sans Extrabold", sans-serif;
    font-size: 20px;
    margin: auto;
  }
  p {
    text-align: center;
    font-family: "Gill Sans Extrabold", sans-serif;
    margin: 0.2em 5em;
  }
  
  #community {
    margin: 2em 0;
  }
  #des {
    padding-bottom: 0.5em; 
  }
  #input-email {
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    background-color: #aa2323;
    text-align: center;
    display: block;
    margin: auto;
  }
  #input-name {
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    background-color: #ff2f2f;
    text-align: center;
    display: block;
    margin: auto;
  }
  #input-button {
    background-color: #d43535;
    padding-top: 0.2em;
    text-align: center;
    display: block;
    margin: auto;
  }
  body{
    background-image: url("..sub.png");
    background-image: url("../images/sub.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 800px) {
    body{
        background-image: url("..sub.png");
        background-image: url("../images/sub.png");
    }
}

@media screen and (min-width: 1200px) {
    body{
        background-image: url("..sub.png");
        background-image: url("../images/sub.png");
    }
}